<footer class="footer">
    <div class="container">
        <p class="text-center text-muted">© Copyright 2019 </p>
    </div>
<script type="text/javascript" src="../../public/burgerMenu.js"></script>
<script type="text/javascript" src="../../public/horloge.js"></script>
<script type="text/javascript">window.onload = date_heure('date_heure');</script>
</footer>