<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <span id="date_heure"></span>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image" href="../../public/belle-fleur-de-lys-215x300.ico">
    <link rel="stylesheet" href="../../public/style.css">
</head>