<nav class="topnav" id="menu" role="navigation">
        <a href="/?target=home" id="home" class="btn">Home</a>
        <a href="/hugues-capet?target=hc" id="hc" class="btn">Hugues Capet</a>
        <a href="/philippe-auguste?target=pha" id="pha" class="btn">Philippe Auguste</a>
        <a href="/louis-ix?target=li" id="li" class="btn">Louis IX</a>
        <a href="/philippe-le-bel?target=phb" id="phb" class="btn">Philippe Le Bel</a>
        <a href="/form?target=frm" id="frm" class="btn">Formulaire</a>
        <a href="javascript:void(0);" class="icon" onclick="burgerMenu()">
            <i class="fa fa-bars"></i>
        </a>
</nav>