.slideshow-container {
    max-width: 500px;
    max-height: 150px;
    position: relative;
    margin: auto;
    padding-top: 20px;
    display: block;
}

fieldset{
    border-radius: 5px;
}

form{
    padding-top: 150px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#confirm{
    padding-top: 150px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#thx{
  text-align: center;
  vertical-align: middle;
}

label{
    display: inline-block;
    width: 150px;
}

input{
    display: inline-block;
    width: 150px;
}

image{
    width: 20vw;
    height: 20vw
}

.mySlides {
    display: none;
     
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #222428;
    font-weight: bold;
    font-size: 30px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0
}

.next {
    right: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev {
    left: -50px;
    border-radius: 3px 3px 3px 3px
}

.prev:hover,
.next:hover {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.8)
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    margin-bottom: 150px;
    text-align: center;
    background-color: #222428
}

/* Menu */
nav {
    font-family: 'Libre Baskerville', serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(58, 39, 230);
}
      
.active, .btn:hover {
    background-color: rgb(235, 168, 23);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.colorHorlogeBlue {
    color: blue;
}
.colorHorlogeYellow {
    color: rgb(235, 168, 23);
}