<!DOCTYPE html>
<html>

<% include ../partials/head %>

<body>
    <% include ../partials/nav %>
    <div class="slideshow-container">
    
        <div class="mySlides fade">
    
            <img src='../../public/hugues-capet-01.jpg' style='width: 100%; height: 300px;' />
            <div class="text">Hugues Capet</div>
        </div>
    
        <div class="mySlides fade">
    
            <img src='../../public/philippe-auguste-02.jpg' style='width: 100%; height: 300px' />
            <div class="text">Philippe Auguste</div>
        </div>
    
        <div class="mySlides fade">
    
            <img src='../../public/louis-ix-02.jpg' style='width: 100%; height: 300px' />
            <div class="text">Louis IX</div>
        </div>
    
        <div class="mySlides fade">
    
            <img src='../../public/philippe-le-bel-02.jpg' style='width: 100%; height: 300px' />
            <div class="text">Philippe le Bel</div>
        </div>
    
    
        <a class="prev" onclick='plusSlides(-1)'>&#10094;</a>
        <a class="next" onclick='plusSlides(1)'>&#10095;</a>
    </div>

<br>

<form action="/form" method="POST" id="formulaire">
    <fieldset>
        <legend>Formulaire d'inscription</legend>
        <p>
            <label for="name">
                <span>Nom :</span>
                <strong><abbr title="required">*</abbr></strong>
            </label>
            <input type="text" id="name" name="userName">
        </p>
        <p>
            <label for="firstName">
                <span>Prénom :</span>
                <strong><abbr title="required">*</abbr></strong>
            </label>
            <input type="text" id="firstName" name="userFirstName">
        </p>
        <p>
            <label for="mail">
                <span>e-mail :</span>
                <strong><abbr title="required">*</abbr></strong>
            </label>
            <input type="email" id="mail" name="usermail" required>
        </p>
        <p>
            <label for="birth">
                <span>Date de naissance :</span>
            </label>
            <input type="date" id="birth" name="userBirthDay">
        </p>
        <p>
            <label for="adress">
                <span>Adresse :</span>
            </label>
            <input type="text" id="adress" name="userAdress">
        </p>
        <p>
            <label for="zipCode">
                <span>Code postal :</span>
            </label>
            <input type="number" id="zipCode" name="userZipCode" minlength="2" maxlength="5">
        </p>
        <p>
            <label for="city">
                <span>Ville :</span>
            </label>
            <input type="text" id="city" name="userCity">
        </p>
        <p>
            <label for="phoneNumber">
                <span>Téléphone :</span>
            </label>
            <input type="number" id="phoneNumber" name="userPhoneNumber" minlength="10" maxlength="10">
        </p>
        <p>
            <label for="password">
                <span>Mot de passe :</span>
                <strong><abbr title="required">*</abbr></strong>
            </label>
            <input type="password" id="pwd" name="password" required minlength="6">
        </p>
        <p>
            <label for="password">
                <span>Confirmation mot de passe :</span>
                <strong><abbr title="required">*</abbr></strong>
            </label>
            <input type="password" id="confirmedPwd" name="password" required minlength="6">
        </p>
        <section>
            <button id="button" type="submit">Valider</button>
        </section>
    </fieldset>
</form>
<% include ../partials/footer %>
</body>
<script type="text/javascript" src="../../public/slideShow.js"></script>


</html>