<!DOCTYPE html>
<html>

<% include ../partials/head %>

<body>
    <% include ../partials/nav %>
    <p>
        <fieldset id="confirm">
            <legend>Formulaire d'inscription</legend>
            <p id="thx"> Merci pour votre inscription!!!</p>
        </fieldset>
    </p>
          
    <% include ../partials/footer %>
</body>

</html>